.tab {
    padding: 5px 10px;
    background-color: #444;
    color: white;
    cursor: pointer;
    border: 1px solid #333;
    border-bottom: none;
    margin-right: 2px;
}

.tab.active {
    background-color: #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
}

.editor {
    visibility: hidden;
    background-color: #2e2e2e;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.editor.active {
    visibility: visible;
    position: relative;
}

/*here*/
.file-content{
    width: 100%;
}

/*here*/
.initial-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    background-color: #1e1e1e;
    color: #fff;
}

.initial-page img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.CodeMirror{
    height: 100% !important;
    background-color: #e4e3e3 !important;
}


/* minimap */

#minimap-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px; /* Adjust the width as necessary */
    height: auto;
    max-height: 200px; /* Adjust the height as necessary */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    overflow: hidden;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.minimap {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

canvas.minimap {
    width: 100%;
}

.minimap p {
    font-size: 10px; /* Smaller text size */
    color: #141010;
    line-height: 1.2;
}