.tab {
    padding: 5px 10px;
    background-color: #444;
    color: white;
    cursor: pointer;
    border: 1px solid #333;
    border-bottom: none;
    margin-right: 2px;
}

.tab.active {
    background-color: #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
}

.editor {
    visibility: hidden;
    background-color: #2e2e2e;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.editor.active {
    visibility: visible;
    position: relative;
}

/*here*/
.file-content{
    width: 100%;
}

/*here*/
.initial-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    background-color: #1e1e1e;
    color: #fff;
}

.initial-page img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.CodeMirror{
    height: 100% !important;
    background-color: #e4e3e3 !important;
}


/* minimap */