.tab-container {
    display: flex;
    background-color: #333;
    overflow-x: auto;
    white-space: nowrap;
}

#fileList ul {
    list-style-type: none;
}

.directory, .file {
    cursor: pointer;
    margin: 5px 0;
    position: relative;
    font-size: x-small;
}

.directory{
    color: aquamarine;
}

.directory::before {
    content: '\25B7'; /* 空心右箭头 */
    position: absolute;
    left: -15px;
    color: #61dafb;
    transition: transform 0.2s ease;
}

.directory.expanded::before {
    content: '\25BD'; /* 空心下箭头 */
}

.file {
    color: #abb2bf;
}

.directory:hover, .file:hover {
    background-color: #2c2c2c;
}

.left-file {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    width: 20%;
    background-color: #3c3c3c;
    padding: 10px;
}

.left-button {
    cursor: pointer;
    height: 4%;
    margin-bottom: 100%;
}

.left-button:hover {
    background: #2c2c2c;
  }

/* Specific setup for right-file */
.right-file {
    width: 60%;
    background-color: #2c2c2c;
    margin: 10px;
}



.left-file img {
    margin-bottom: 20px; /* Space between SVGs */
    height:2vw;
    width:2vw;
}

.file-size {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Search Box */
.search-container {
    display: flex;
    flex-direction: column;
    width: 130%;
}
/* Input line style */
#searchBox {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #2b2b2b;
    color: white;
    border: none;
    border-radius: 4px;
}

#searchResults {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

#searchResults div {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #5c5c5c;
    color: white;
    border-radius: 4px;
}

.search-result-item-box {
    border-bottom: 1px solid #eee;
    cursor: pointer;
}