.tab-container {
    display: flex;
    background-color: #333;
    overflow-x: auto;
    white-space: nowrap;
}

.directory {
    font-weight: bold;
    font-size: x-small;
}

.file {
    padding-left: 10px;
    font-size: x-small;
}