/* menu */
.menu-bar {
    display: flex;
    background-color: #333;

}

.menu-bar button {
    background: none;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
.menu-bar button:hover {
    background-color: #444;
}

.submenu {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #333;
    border: 1px solid #444;
    z-index: 1000;
}
.submenu button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    color: #fff;
    text-align: left;
}
.submenu button:hover {
    background-color: #555;
}