.titlebar {
  height: 30px;
  background: #329ea3;
  user-select: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.titlebar-left, .titlebar-right {
  display: flex;
  align-items: center;
}

.titlebar-left {
  flex: 1;
}

.titlebar-center {
  flex: 2;
  display: flex;
  justify-content: center;
  position: relative;
}

.titlebar-right {
  flex: 1;
  justify-content: flex-end;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
.titlebar-button img {
  height:25px;
  width:25px;
}

.titlebar-button:hover {
  background: #5bbec3;
}

.file-menu {
  -webkit-app-region: no-drag;
  display: inline-flex;
  margin-right: 10px;
  cursor: pointer;
}

.file-menu button {
  background: none;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.file-menu button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-box {
  -webkit-app-region: no-drag;
  width: 300px; /* 设置固定宽度 */
}

.search-box input {
  padding: 3px 5px;
  border-radius: 20px;
  border: 1px solid #747272;
}

.menu-size{
  color: white;
  margin: 5px;
  font-size: x-small;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2c2c;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
}


.underline{
  border-bottom: 1px solid white;
}

.dropdown-item:hover {
  background-color: #2c2c2c;
}

.menu-size:hover .dropdown-content {
  display: block;
}

.menu-size:active .dropdown-content {
  display: block;
}


/*Search Box*/
.search-results {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #61dafb;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}