* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body ,html{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevent scrolling */
}

.container {
    display: flex;
    height: 100%;
    overflow: hidden;
}

/*here*/
.sidebar {
    width: 20%;
    background-color: #2c2c2c;
    color: white;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}

.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

/*here*/
.top-section {
    flex: 3;
    background-color: #1e1e1e;
    color: white;
    padding: 10px;
    overflow-y: auto;
}

/*here*/
.bottom-section {
    flex:0.95;
    background-color: #252526;
    color: white;
    padding: 10px;
    overflow-y: auto;
}

ul {
    list-style-type: none;
    padding-left: 5%;
}

li {
    cursor: pointer;
    padding: 5px;
}

.top-section,.bottom-section{
    overflow-y: scroll;
}

.top-section::-webkit-scrollbar,.bottom-section::-webkit-scrollbar,.sidebar::-webkit-scrollbar{
    width: 12px;
}

.top-section::-webkit-scrollbar-track,.bottom-section::-webkit-scrollbar-track,.sidebar::-webkit-scrollbar-track{
    background: transparent;
}

.top-section::-webkit-scrollbar-thumb,.bottom-section::-webkit-scrollbar-thumb,.sidebar::-webkit-scrollbar-thumb{
    background-color: #555;
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.top-section::-webkit-scrollbar-thumb:hover,.bottom-section::-webkit-scrollbar-thumb:hover,.sidebar::-webkit-scrollbar-thumb:hover{
    background-color: black;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1e1e;
    color: white;
    padding: 10px 20px;
    flex-shrink: 0; /* Prevent the footer from shrinking */
    border-top: 1px solid #333;
    font-size: 14px;
}

.footer .left,
.footer .center,
.footer .right {
    display: flex;
    align-items: center;
}

.footer .left,
.footer .right {
    flex: 1;
}

.footer .center {
    flex: 2;
    justify-content: center;
}

.footer .left span,
.footer .right span {
    margin-left: 10%;
}

.footer a {
    color: #ccc;
    text-decoration: none;
    margin-right: 10px;
}

.footer a:hover {
    color: white;
}

.footer-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    fill: currentColor;
}