/* termial */
.output {
    margin-bottom: 10px;
}

.input-line {
  display: flex;
  align-items: center;
}

.prompt {
  color: #08bf17;
}

input {
  background-color: #252526;
  color: white;
  border: none;
  outline: none;
  width: 100%;
  margin-left: 5px;
}

.word-size{
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  line-height: 1.2;
  zoom: 1;
  white-space: normal;
  font-size: small;
}

.sidebar, .main-content {
  font-size: calc(10px + 0.5vw);
}

.collapsed > ul {
  display: none;
}